*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html, body{
    overflow-x: hidden;
}

/* shyer style */
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}
.heading-titell{
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.nav-item ul,
.nav-item .btn{
    margin-left: auto;
}





/* button all */
.btn{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 10000px;
    cursor: pointer;
    border: none;
    color: rgba(255, 255, 255, 1);
    background:  linear-gradient(20deg, #F7E93F,#FB09B4,#9100F8);  
    transition: .5s;
}
.btn:hover{
    transform: scale(1.05);
}
/* font */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Why-Choose-Section */

.Why-Choose-Section{
    background: #230E3D;
    padding: 120px 0;
}
.Choose-Section{
    
}
.Choose-Section .heading-titell{
    text-align: center;
    padding-bottom: 40px;
    
}
.Choose-Section-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
    
}

.c-s-card:nth-child(1) {
  grid-row: span 2;              
}
.c-s-card:nth-child(2){
    grid-column: span 2;
}
.c-s-card:nth-child(3){
    grid-column: span 2;
}
.c-s-card:nth-child(4) {
  grid-column: span 2;           
}
.c-s-card{
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}
.c-s-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 26px #00000046;
}
.c-s-card img{
    transition: .3s;
}
.c-s-card:hover img{
    transform: rotate(3deg) scale(1.05);
}
.c-s-card h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 16px;
    
}
.c-s-card p{
    font-size: 1rem;
    font-weight: 400;
}


/* header */
header{
    background: rgba(26, 11, 46, 1);
    /* padding: 24px 0; */
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 18px 7px;
}

.nav-item h2{
    color: #FFFFFF;
    font-weight: 900;
}
.nav-item h2 .grident-color{
    background: linear-gradient(51deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item ul{
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav-item ul li a{
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    transition: color 0.3s ease, transform 0.3s ease;

}
.nav-item ul li a:hover{
    background: linear-gradient(51deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.08);
}

.nav-item img{
    display: none;
    width: 32px;
    cursor: pointer;
}
/* <!-- banner-section --> */
.banner-section{
   width: 100%;
    min-height: 100vh; 
    background-image: url("../assets/hero-circle.png"), url("../assets/hero-bg.png");
    background-size: 250px, cover; 
    background-position: center 100px, center center;
    background-repeat: no-repeat, no-repeat;
    
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
}
.banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-button button{
    position: relative;
    left: 84px;
    bottom: 192px;
    border-radius: 1000px;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 8px 16px;
    border: none;
    background: #00FF88;
}
/* banner button bar */
.banner-extra-button{
    display: flex;
    gap: 8px;
}
.banner-item p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 80px;
    padding-bottom: 24px;
}
.banner-extra-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-extra-button .btn{
    display: flex;
    align-items: center;
    gap: 8px;
}
.banner-extra-button .btn-2{
    background: none;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 12px 20px;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 8px;
}

    /*  about section*/
.about{
    background: #1A0B2E;
}
.about-contant{
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.contant-titel{
    
    border-bottom: 1px solid #ffffff1a;
    padding: 0 10px;
}
.contant-titel h2{
    font-size: 3rem;
    font-weight: 700;
}
.about-contant{
    padding: 10px 0 10px;
}
.contant-titel p{
    font-size: 1rem;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 80px;
}
.about-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    justify-content: center;
}
.item-card{
    padding-bottom: 120px;
}
.item-card h1{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
}
.item-card p{
    font-size: 1rem;
    font-weight: 500;
}

/* video section */
.video-section{
    background: #1A0B2E;
}
.v-contant h2{
    text-align: center;
    /* padding-top: 120px; */
    padding-bottom: 40px;
}
.v-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    border-radius: 24px;
    gap: 30px;
    
}
.v-card{
    background: #250D44;
    border-radius: 24px;
    margin-bottom: 120px;
    transition: 0.3s;
}
.v-card:hover{
    transform: scale(1.02);
    box-shadow: 0 0 26px #00000046;
}
.v-card iframe{
    width: 380px;
    height: 214px;
    border-radius: 24px 24px 0 0; 

}
.v-section-end{
    background: rgba(53, 17, 101, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border-radius: 40px;
    color: #FFFFFF;
    transition: 0.3s;

}
.v-section-end:hover{
    transform: scale(1.003);
    box-shadow: 0 0 26px #00000046;
}
.v-section-end-titels h3{
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 16px;
}
.v-section-end-titels p{
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 16px;
}
.v-section-end-icon{
    display: flex;
    align-items: center;
    gap: 8px;
    
    
}
.v-section-end-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #533C72;
    border-radius: 50%;
    padding: 10px 10px;
    width: 40px;                
    height: 40px; 
    padding: 0;
    margin: 5px;
    transition: .3s;

}
.v-section-end-icon a:hover {
    background: #00FF88;
    color: #FFFFFF;
}
.v-section-end-icon a:hover img{
    box-shadow: 0 030px #00000018;
}




.card-info{
    padding: 24px;

}
.card-info h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 12px;
}
.card-info p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 12px;
}
.card-info img{
    
}
.card-info span{
    color: #00FF88;
    font-size: 1.5rem;
    font-weight: 600;
}

/* responsive mobile */
@media screen and (max-width:576px) {
    .nav-item ul,
    .nav-item .btn{
        display: none;
     }
     .nav-item img{
        display: block;
        /* margin-left: auto; */
        padding-right: 20px;
        width: 18px;
        height: 13.5;
    }
    .banner-section{
        min-height: auto; 
        padding-top: 60px; 
        padding-bottom: 40px;
        background-size: 185px, cover; 
        background-position: center 103px, center; 
   }
   .banner-img{
    position: relative;
    bottom: 40px;
    
}
    .banner-img img {
    height: 100px;
    }
    .banner-button button {
    position: relative;
    left: 85px;
    bottom: 166px;
    padding: 4px 8px;
     }
   

    /* about */

    .about-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
     }
     
     .contant-titel p{
    padding-right: 10px;
     }


     /* Choose-Section-card */
    .Choose-Section-card{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
     
    }
    .container {
    
    padding: 0px 10px;
    }
    .v-card-container{
    
    grid-template-columns: repeat(1, 1fr);
    
    
    }
   
    .v-card {
    background: #250D44;
    border-radius: 24px;
    margin-bottom: 24px;
    transition: 0.3s;
    width: 400px;
    }
    .v-card iframe {
    width: 400px;
    }
    
     
     .v-contant h2 {
    
    padding-top: 120px;
    
    }
    .v-section-end {
    background: rgba(53, 17, 101, 0.4);
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 0px 10px;
    
     }
    .v-section-end-icon {
    justify-content: center;
}
    
}